[Unit]
Description=Wake On Lan
After=network-online.target

[Service]
Type=simple
StandardOutput=journal
ExecStartPre=/bin/sh -c 'until ping -c1 fritz.box; do sleep 1; done;'
ExecStart=+/bin/bash /home/pi/wol.sh
TimeoutStartSec=120

# disallow writing to /usr, /bin, /sbin, ...
#ProtectSystem=yes

# more paranoid security settings
#NoNewPrivileges=yes
#ProtectKernelTunables=yes
#ProtectControlGroups=yes

# Note that "ProtectKernelModules=yes" is missing in the user unit
# because systemd 232 is unable to reduce its own capabilities
# ("Failed at step CAPABILITIES spawning /usr/bin/mpd: Operation not
# permitted")

[Install]
WantedBy=multi-user.target

